*.so
*.pyc
target
venv
.venv
*.so
*.dll
*.pyd

.idea
sandbox/
.DS_Store
site/
benchmark/bin/env.sh
benchmark/src/results
benchmark/src/results/overlap
mprofile*dat
*csv
tests/data/qc
small.fastq
small2.fastq
small3.fastq
large.fastq